@using HardwareReservationAndAccountingSystem.Models;
@model List<Event>

<div class="row view-mode-content-block" :class="[tableViewMode, {active: initialViewMode}]">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Renginiai</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Pavadinimas <i class="fas fa-sort"></i></p>
                        <p>Data <i class="fas fa-sort"></i></p>
                        <p>Komentaras <i class="fas fa-sort"></i></p>
                    </div>
                    @foreach (var ev in Model)
                    {
                        var comment = !string.IsNullOrWhiteSpace(ev.Comment) ? ev.Comment : "-";
                        <div class="data-row">
                            <p>@Html.ActionLink(ev.Title, "Details", "Events", new { id = ev.Id })</p>
                            <p>@Html.ActionLink(ev.StartTime.ToString(), "Details", "Events", new { id = ev.Id })</p>
                            <p>@Html.ActionLink(comment, "Details", "Events", new { id = ev.Id })</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
