<div class="row view-mode-content-block" :class="[calendarViewMode, {active: initialViewMode}]">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Renginiai</h3>
            </div>
            <div class="content">
                <div id="calendar">
                    <calendar />
                </div>
            </div>
        </div>
    </div>
</div>
