@using HardwareReservationAndAccountingSystem.Models;
@model List<Event>

@{
    ViewData["Title"] = "Renginiai";
}

@section PageHeaderTitle {
    <h2>Renginiai</h2>
}

@section PageHeaderSubNavLinks {
    <a href="@Url.Action("Index", "Events")" class="btn btn-dark"><i class="fas fa-calendar-day"></i> Visi renginiai</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal"><i class="fas fa-download"></i> Eksportuoti</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newEventModal"><i class="fas fa-pencil-alt"></i> Sukurti naują</button>
}

@section PageHeaderFilters {
    <div class="page-filters">
        <div class="filters">
            <p class="filter-type-text">Filtruoti renginius:</p>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Paieškos frazė
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Laikotarpis
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lokacija
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Komentaras
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-mode">
            <p class="filter-type-text">Peržiūros būdas:</p>
            <button class="btn btn-light mode" @@click="changeViewMode('calendar')" :class="[calendarViewMode, {active: initialViewMode}]">
                <i class="far fa-calendar-alt"></i>
                Kalendorius
            </button>
            <button class="btn btn-light mode" @@click="changeViewMode('table')" :class="tableViewMode">
                <i class="fas fa-table"></i>
                Lentelė
            </button>
        </div>
    </div>
}

@if (Model.Any())
{
    @await Html.PartialAsync("~/Views/Events/_ViewModeCalendar.cshtml", Model)
    @await Html.PartialAsync("~/Views/Events/_ViewModeTable.cshtml", Model)
}
else
{
    @await Html.PartialAsync("~/Views/Shared/_NoContent.cshtml", "Šiuo metu nėra pridėta jokių renginių.")
}

@await Html.PartialAsync("~/Views/Events/_ModalExport.cshtml")
@await Html.PartialAsync("~/Views/Events/_ModalNew.cshtml", new Event())
