@model IEnumerable<Event>

@{
    ViewData["Title"] = "Renginiai";
}

@section PageHeaderTitle {
    <h2>Renginiai</h2>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Kalendorius</h3>
            </div>
            <div class="content">
                <div id="calendar">
                    <calendar />
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_NoContent.cshtml", "Šiuo metu nėra pridėta jokių renginių.")

