<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Techninės įrangos rezervacija</title>
    <link rel="stylesheet" href="~/css/styles.min.css" />
</head>
<body>
    
    <div class="authentication-page">
        <div class="centered-content">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/scripts.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
