@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <p class="logged-in-as">Prisijungta kaip <span>@User.Identity.Name</span></p>
    <p class="logged-in-role">@(User.IsInRole("admin") ? "Administratorius" : null)</p>

    <form class="form-inline logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="btn btn-primary btn-sm logoff-button">Atsijungti</button>
    </form>
}
