@using HardwareReservationAndAccountingSystem.Enums;
@model ReservationStatus

@switch (Model)
{
    case ReservationStatus.Pending:
        <p class="reservation waiting-approval">
            Laukianti patvirtinimo
        </p>
        break;
    case ReservationStatus.Confirmed:
        <p class="reservation approved">
            Patvirtinta
        </p>
        break;
    case ReservationStatus.Cancelled:
        <p class="reservation cancelled">
            Atšaukta
        </p>
        break;
    case ReservationStatus.Active:
        <p class="reservation in-progress">
            Vykdoma
        </p>
        break;
    case ReservationStatus.Untaken:
        <p class="reservation untaken">
            Neatsiimta
        </p>
        break;
    case ReservationStatus.Completed:
        <p class="reservation completed">
            Įvykdyta
        </p>
        break;
    case ReservationStatus.Late:
        <p class="reservation late">
            Vėluojanti
        </p>
        break;
    case ReservationStatus.Stolen:
        <p class="reservation stolen">
            Įranga pavogta
        </p>
        break;
    case ReservationStatus.Broken:
        <p class="reservation broken">
            Įranga apgadinta
        </p>
        break;
    case ReservationStatus.Undefined:
        <p class="reservation undefined">
            Neapibrėžta
        </p>
        break;
    default:
        break;
}
