<div class="row view-mode-content-block" :class="[listViewMode, {active: initialViewMode}]">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Nustatymų grupė</h3>
            </div>
            <div class="content">
                <p>some text</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Nustatymų grupė</h3>
            </div>
            <div class="content">
                <p>some text</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Nustatymų grupė</h3>
            </div>
            <div class="content">
                <p>some text</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Nustatymų grupė</h3>
            </div>
            <div class="content">
                <p>some text</p>
            </div>
        </div>
    </div>
</div>
