<div class="row view-mode-content-block" :class="tableViewMode">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Nustatymai</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Pavadinimas <i class="fas fa-sort"></i></p>
                        <p>Aprašymas <i class="fas fa-sort"></i></p>
                        <p>Grupė <i class="fas fa-sort"></i></p>
                        <p>Veiksmai <i class="fas fa-sort"></i></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                        <p><a href="#">aaaaa</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
