@{
    ViewData["Title"] = "Nustatymai";
}

@section PageHeaderTitle {
    <h2>Nustatymai</h2>
}

@await Html.PartialAsync("~/Views/Shared/_NoContent.cshtml", "Nustatymai šiuo metu nėra sukonfigūruoti.")

