.layout .left-sidebar {
    background: $colorAlmostWhite;
    box-shadow: 0 0 20px 0 rgba(black, 0.1);
    min-height: 100vh;
    padding: 2em 0;
    margin-bottom: 0;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;

    & > * {
        margin: 0 2.5em 2em;
    }

    .logo {
        padding: 0.75em 0 0.25em;
        text-align: center;

        h1 {
            font-size: 30px;
            font-weight: 700;
        }
    }

    .profile {
        text-align: center;

        img {
            border-radius: 50%;
            margin-bottom: 1em;
        }

        p {
            font-size: 14px;
            margin-bottom: 1px;

            &.logged-in-as {
                color: #344750;
                font-weight: 400;

                span {
                    font-weight: 700;
                }
            }

            &.logged-in-role {
                color: #929CA1;
                font-style: italic;
            }
        }

        .logoff-button {
            font-size: 14px;
            margin-top: 1em;
        }
    }

    .navbar-links {
        margin: 0 0 2em;

        ul {
            padding-left: 0;
            margin-bottom: 0;

            a {
                display: block;
                padding: 12px 2.5em;
                // text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 14px;
                text-decoration: none;
                transition: 100ms all;

                i {
                    width: 25px;
                    font-size: 1.2em;
                }

                span.badge {
                    font-size: 12px;
                    margin-left: 10px;
                    transition: 0.2s all;
                }
            }

            li {
                border-left: 5px solid transparent;
            }

            &.first-level {
                & > li {
                    &:hover {
                        & > a {
                            font-weight: 700;
                            color: #344750;
    
                            span.badge {
                                background-color: #344750;
                            }
                        }
                    }

                    &.active {
                        // border-left-color: #2f6df3;
                        // background: #dde8ff;
                        border-left-color: #0073ea;
                        background: #ecf3fd;

                        & > a {
                            // color: #344750;
                            color: #0073ea;
                            font-weight: 700;

                            span.badge {
                                background-color: #0073ea;
                            }
                        }
                    }

                    .second-level {
                        &:not(.active) {
                            display: none;
                        }

                        & > li {
                            &:hover,
                            &.active {
                                a {
                                    font-weight: 700;
                                    color: #344750;
                                }
                            }

                            & > a {
                                margin-left: 25px;
                                // font-size: 12px;
                            }
                        }
                    }
                }
            }

            li {
                list-style: none;

                a {
                    color: $colorTextSecondary;
                }
            }
        }
    }

    footer {
        font-size: 12px;
        text-align: center;
        color: #344750;
    }
}
