@{
    ViewData["Title"] = "Kalendorius";
}

@section PageHeaderTitle {
    <h2>Kalendorius</h2>
}

@await Html.PartialAsync("~/Views/Shared/_NoContent.cshtml", "Kalendorius šiuo metu nesukonfigūruotas.")

