$colorAlmostWhite: #F9FAFB;

$colorBackground: #DEE0E3;

$colorPrimaryLighter: #FF8A34;
$colorPrimaryDarker: #FF6F11;

$colorSecondaryLighter: #A5B7CC;
$colorSecondaryDarker: #838683;

$color7: #DE978B;

$colorTextPrimary: #344750;
$colorTextSecondary: #8ca4af;

$colorGreen: #23B75F;