.home-page {
    .content-block {
        & > .content {
            p {
                margin-bottom: 0;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                a {
                    padding: 5px 0;
                    display: block;
                }

                span {
                    font-weight: 200;
                    width: 100px;
                    display: inline-block;
                    font-size: 12px;
                }

                &.new {
                    font-weight: 700;
                    color: #344750;
                }
            }
        }
    }
}
