@using HardwareReservationAndAccountingSystem.Enums;
@using HardwareReservationAndAccountingSystem.Models;
@model List<EquipmentBundle>

<div class="row view-mode-content-block" :class="[gridViewMode, {active: initialViewMode}]">
    @foreach (var bundle in Model)
    {
        <div class="col-md-4 add-margin">
            <div class="content-block">
                <div class="title">
                    <h3>@Html.ActionLink(bundle.Title, "Details", "EquipmentBundles", new { id = bundle.Id })</h3>
                </div>
                <div class="content">
                    @if (!string.IsNullOrWhiteSpace(bundle.Description))
                    {
                        var description = bundle.Description.Length > 300 ? bundle.Description.Substring(0, 300) + "..." : bundle.Description;
                        <p>@description</p>
                    }
                    @if (bundle.Status == EquipmentBundleStatus.Public)
                    {
                        <p class="is-public yes"><strong>Paskelbta:</strong> <i class="fas fa-check"></i></p>
                    }
                    else
                    {
                        <p class="is-public no"><strong>Paskelbta:</strong> <i class="fas fa-times"></i></p>
                    }
                </div>
            </div>
        </div>
    }
</div>
