@model IEnumerable<EquipmentType>

@{
    ViewData["Title"] = "Įrangos tipai";
}

@section PageHeaderTitle {
    <h2>Įrangos tipai</h2>
}

@*@if (Model.Any())
{
    <div class="row">
        @foreach (var equipmentType in Model)
        {
            <div class="col-md-12 add-margin">
                <div class="content-block list-view equipment-type" style="border-left: 5px solid">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="heading">
                                <p>@equipmentType.Title</p>
                            </div>
                        </div>
                        <div class="col-md-2 options">*@
                            @*<a href="#" class="btn btn-secondary">Žiūrėti</a>*@

                            @*<div class="dropdown">
                                <a class="btn btn-secondary more-options dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#editEquipmentTypeModal_@equipmentType.Id">Atnaujinti</a>*@
                                    @*<a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>*@
                                @*</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{*@
    @await Html.PartialAsync("~/Views/Shared/_NoContent.cshtml", "Šiuo metu nėra pridėto jokio įrangos tipo.")
@*}*@

