.flex-table {
    & > * {
        display: flex;

        & > * {
            flex: 1;
        }
    }

    .data-row {
        &:hover {
            background: #e9e9e9 !important;
        }

        p {
            padding: 0 5px;
        }
    }

    a {
        display: block;
    }

    .headings {
        p {
            font-weight: 700;
            font-size: 14px;
            padding: 5px;
        }
    }

    &.styled-table {
        p {
            margin: 0;
        }

        & > * {
            padding: 10px 20px;
        }

        .headings {
            background: #F6F6F6;
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;
            
            p {
                color: #344750;
                font-size: 14px;
                font-weight: 700;
            }
        }

        .data-row {
            border-bottom: 1px solid #e7e7e7;
            
            &:nth-child(even) {
                background: #F8F8F8;
            }

            &.notification-new {
                p {
                    a {
                        font-weight: 700;
                        color: #344750;
                    }
                }

                .notification-status.new {
                    a {
                        color: red;

                        &:hover {
                            color: #4696ff;
                        }
                    }
                }

                a:hover {
                    color: #4696ff;
                }
            }
        }
    }
}

