p.reservation {
    &.waiting-approval {
        &, a {
            color: #FFA200 !important;
        }
    }

    &.approved {
        &, a {
            color: #36AE46 !important;
        }
    }

    &.canceled,
    &.stolen {
        &, a {
            color: #FF0000 !important;
        }
    }

    &.in-progress {
        &, a {
            color: #4696ff !important;
        }
    }

    &.late {
        color: #ff6600 !important;
    }

    &.old {
        &, a {
            color: #929CA1 !important;
        }
    }
}