p.reservation {
    &.waiting-approval {
        &, a {
            color: #FFA200 !important;
        }
    }

    &.approved,
    &.completed {
        &, a {
            color: #36AE46 !important;
        }
    }

    &.cancelled,
    &.stolen,
    &.broken {
        &, a {
            color: #FF0000 !important;
        }
    }

    &.in-progress {
        &, a {
            color: #4696ff !important;
        }
    }

    &.late,
    &.untaken {
        &, a {
            color: #ff6600 !important;
        }
    }

    &.undefined {
        &, a {
            color: #929ca1 !important;
        }
    }
}
