.small-equipment-block {
    img {
        margin-bottom: 10px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &.add-equipment {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;

        button {
            width: 100%;
            height: 100%;
            text-decoration: none;
            border: 1px dotted #d2d2d3;
            transition: 0.3s all;

            &:hover {
                background: #ececec;
            }

            i {
                font-size: 5em;
                margin-bottom: 20px;
                opacity: 0.4;
            }
    
            p {
                margin: 0;
                font-size: 18px;
                // font-weight: 200;
            }
        }
    }
}
