<div class="row view-mode-content-block" :class="[tableViewMode, {active: initialViewMode}]">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Rezervacijos</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Pranešimo būsena</p>
                        <p>Sukūrimo laikas</p>
                        <p>Žinutės tekstas</p>
                        <p>Pranešimo tipas</p>
                        <p>Pranešimą sukūrė</p>
                        <p>Kam skirtas</p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Naujas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Norime priminti, kad jūsų rezervacija a...</a></p>
                        <p><a href="#">Priminimas</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Visiems sistemos vartotojams</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Naujas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Sėkmingai sukūrėte prašymą rezervaci...</a></p>
                        <p><a href="#">Pasikeitimai rezervacijose</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Julijus Jakutavičius</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Norime priminti, kad jūsų rezervacija art...</a></p>
                        <p><a href="#">Priminimas</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Ieva Jakšaitytė</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Sėkmingai sukūrėte prašymą rezervacija...</a></p>
                        <p><a href="#">Renginys</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Julijus Jakutavičius</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Norime priminti, kad jūsų rezervacija art...</a></p>
                        <p><a href="#">Pasikeitimai rezervacijose</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Julijus Jakutavičius</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Sėkmingai sukūrėte prašymą rezervacija...</a></p>
                        <p><a href="#">Pasikeitimai rezervacijose</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Julijus Jakutavičius</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Norime priminti, kad jūsų rezervacija art...</a></p>
                        <p><a href="#">Pasikeitimai rezervacijose</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Petras Petrauskas</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Sėkmingai sukūrėte prašymą rezervacija...</a></p>
                        <p><a href="#">Pasikeitimai rezervacijose</a></p>
                        <p><a href="#">Adminstratorius</a></p>
                        <p><a href="#">Julijus Jakutavičius</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Norime priminti, kad jūsų rezervacija art...</a></p>
                        <p><a href="#">Priminimas</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Vardas Pavardenis</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Sėkmingai sukūrėte prašymą rezervacija...</a></p>
                        <p><a href="#">Pasikeitimai rezervacijose</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Julijus Jakutavičius</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Norime priminti, kad jūsų rezervacija art...</a></p>
                        <p><a href="#">Priminimas</a></p>
                        <p><a href="#">Administratorius</a></p>
                        <p><a href="#">Visiems sistemos vartotojams</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Archyvuotas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Sėkmingai sukūrėte prašymą rezervacija...</a></p>
                        <p><a href="#">Renginys</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Visiems sistemos vartotojams</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Archyvuotas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Norime priminti, kad jūsų rezervacija art...</a></p>
                        <p><a href="#">Priminimas</a></p>
                        <p><a href="#">Sistema</a></p>
                        <p><a href="#">Visiems sistemos vartotojams</a></p>
                    </div>
                    <div class="data-row">
                        <p><a href="#">Skaitytas</a></p>
                        <p><a href="#">2019-03-31 10:14</a></p>
                        <p><a href="#">Sėkmingai sukūrėte prašymą rezervacija...</a></p>
                        <p><a href="#">Renginys</a></p>
                        <p><a href="#">Administratorius</a></p>
                        <p><a href="#">Moderatoriams</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
