@{
    ViewData["Title"] = "Rezervacija";
}

@section PageHeaderTitle {
    <h2>Rezervacija</h2>
}

@section PageHeaderSubNavLinks {
    <a href="@Url.Action("Index", "Reservations")" class="btn btn-dark"><i class="fas fa-calendar-check"></i> Visos rezervacijos</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal"><i class="fas fa-download"></i> Eksportuoti</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newModal"><i class="fas fa-pencil-alt"></i> Sukurti naują</button>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Pagrindinė informacija</h3>
            </div>
            <div class="content">
                <p>text</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Pasikeitimų istorija</h3>
            </div>
            <div class="content">
                <p>text</p>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Reservations/_ModalExport.cshtml")
@await Html.PartialAsync("~/Views/Reservations/_ModalNew.cshtml")
@await Html.PartialAsync("~/Views/Reservations/_ModalEditStatus.cshtml")
