@using HardwareReservationAndAccountingSystem.Enums;
@using HardwareReservationAndAccountingSystem.Models;
@model Equipment

<div class="modal fade export-modal" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newModalLabel">Nauja įranga</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Equipments" asp-action="Create">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Title">Įrangos pavadinimas:</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Koks įrangos pavadinimas">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Description">Įrangos aprašymas:</label>
                            <textarea asp-for="Description" class="form-control" rows="3" placeholder="Aprašymas"></textarea>
                        </div>
                    </div>
                    @*<div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Status">Įrangos būsena:</label>
                            @Html.EnumDropDownListFor(m => m.Status, "Pasirinkite", new { @class = "form-control" })
                        </div>
                    </div>*@
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Sukurti" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Atšaukti</button>
                </div>
            </form>
        </div>
    </div>
</div>
