@using HardwareReservationAndAccountingSystem.Models;
@model IEnumerable<Equipment>

@{
    ViewData["Title"] = "Įranga";
}

@section PageHeaderTitle {
    <h2>Įranga</h2>
}

@*@if (Model.Any())
{
    <div class="row"></div>
}
else
{*@
    <div class="row">
        <div class="col-md-12 add-margin">
            <div class="content-block empty-content">
                <div class="title">
                    <h3>Nieko nerasta</h3>
                </div>
                <div class="content">
                    <p>Šiuo metu nėra pridėta jokios įrangos.</p>
                    <!-- <p><button class="btn btn-primary">Pridėkite dabar</button></p> -->
                </div>
            </div>
        </div>
    </div>
@*}*@