@model IEnumerable<Equipment>

@{
    ViewData["Title"] = "Įranga";
}

@section PageHeaderTitle {
    <h2>Įranga</h2>
}

@*@if (Model.Any())
{
    <div class="row"></div>
}
else
{*@
    @await Html.PartialAsync("~/Views/Shared/_NoContent.cshtml", "Šiuo metu nėra pridėta jokios įrangos.")
@*}*@