@using HardwareReservationAndAccountingSystem.Models;
@model List<ApplicationUser>

<div class="row view-mode-content-block" :class="[tableViewMode, {active: initialViewMode}]">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojai</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Vardas, pavardė <i class="fas fa-sort"></i></p>
                        <p>El. pašto adresas <i class="fas fa-sort"></i></p>
                        <p>Rolė <i class="fas fa-sort"></i></p>
                        <p>Komentaras <i class="fas fa-sort"></i></p>
                    </div>
                    @foreach (var user in Model)
                    {
                        <div class="data-row">
                            <p>@Html.ActionLink(String.Format("{0} {1}", user.Name, user.Surname), "Details", "Users", new { id = user.Id })</p>
                            <p>@Html.ActionLink(user.Email, "Details", "Users", new { id = user.Id })</p>
                            <p class="role user"><a href="#" data-toggle="modal" data-target="#editRoleModal">Vartotojas <i class="far fa-edit"></i></a></p>
                            <p>-</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
