<div class="row view-mode-content-block" :class="gridViewMode">
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
    <div class="col-md-4 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojas</h3>
            </div>
            <div class="content">
                vartotojo informacija
            </div>
        </div>
    </div>
</div>
