@using HardwareReservationAndAccountingSystem.Models;
@model ApplicationUser

@{
    ViewData["Title"] = "Vartotojo informacija";
}

@section PageHeaderTitle {
    <h2>Vartotojo informacija</h2>
}
@section PageHeaderSubNavLinks {
    <a href="@Url.Action("Index", "Users")" class="btn btn-dark"><i class="fas fa-user"></i> Visi vartotojai</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal"><i class="fas fa-download"></i> Eksportuoti</button>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Pagrindinė informacija</h3>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-3">
                        <p>
                            <img src="https://via.placeholder.com/400" class="img-fluid">
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>@Model.Name @Model.Surname</p>
                        <p>@Model.Email</p>
                    </div>
                    <div class="col-md-3">
                        <p class="role user"><a href="#" data-toggle="modal" data-target="#editRoleModal">Vartotojas <i class="far fa-edit"></i></a></p>
                        <p>-</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Rezervacijos</h3>
            </div>
            <div class="content">
                <p>Rezervacijų sąrašas</p>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Users/_ModalExport.cshtml")
@await Html.PartialAsync("~/Views/Users/_ModalEditRole.cshtml")

