@{
    ViewData["Title"] = "Vartotojo informacija";
}

@section PageHeaderTitle {
    <h2>Vartotojo informacija</h2>
}
@section PageHeaderSubNavLinks {
    <a href="@Url.Action("Index", "Users")" class="btn btn-dark"><i class="fas fa-user"></i> Visi vartotojai</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal"><i class="fas fa-download"></i> Eksportuoti</button>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Pagrindinė informacija</h3>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-3">
                        <p>
                            <img src="https://via.placeholder.com/200">
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>Vardas Pavardė</p>
                        <p>El. pašto adresas</p>
                    </div>
                    <div class="col-md-3">
                        <p class="role moderator"><a href="#" data-toggle="modal" data-target="#editRoleModal">Moderatorius <i class="far fa-edit"></i></a></p>
                        <p>Komentaras</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Rezervacijos</h3>
            </div>
            <div class="content">
                <p>Rezervacijų sąrašas</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Kas dar?</h3>
            </div>
            <div class="content">
                <p>...</p>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Users/_ModalExport.cshtml")
@await Html.PartialAsync("~/Views/Users/_ModalEditRole.cshtml")

